.loginWrapper {
  margin: auto;
  margin-top: 30px;
  width: 50%;
}

.details-wrapper {
  margin: 20px;
}

.loginWrapper h3 {
  text-align: center;
}

.cardWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.clicked {
  color: #842424;
}

.nav {
  color: #cccccc;
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  line-height: 50px;
}
.backgroundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  min-height: 100vh;
  height: 100%;
  background-image: url("https://media.licdn.com/dms/image/D4E12AQG2Qvk-0aSBUg/article-cover_image-shrink_600_2000/0/1688105950416?e=2147483647&v=beta&t=rS43neD0fcg-Sp3Uva8fMGRrYngZcKFilppyHGSEBko");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.detail-wrapper {
  margin-top: 210px;
  margin-left: -980px;
  margin-right: 340px;
  width: 720px;
  height: 650px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create {
  margin-top: -5px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.status {
  width: 950px;
}

.backWrapper {
  background-image: url("https://t3.ftcdn.net/jpg/02/58/66/94/360_F_258669413_rLs4pnnhkUkExE9m8EZuhGbnkJI0izgQ.jpg");
  background-size: cover;
  background-position: center;
  min-height: 83vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px;
}

.loginWrapper {
  background-color: white;
  backdrop-filter: blur(10px);
  max-width: 450px;
  padding: 30px;
}

@media (max-width: 576px) {
  .backWrapper {
    padding: 10px;
  }

  .loginWrapper {
    max-width: none;
    width: 100%;
  }
}

.grayBackground {
  background-color: white;
}

.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 50px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cardWrapper {
  display: flex;
  gap: 20px;
}
.cardWrapper .card:hover {
  background-color: lightblue;
}

.sidebar {
  background-color: rgb(238, 240, 240);
}

.details-wrapper {
  background-color: white;
}

@media only screen and (max-width: 600px) {
  .loginWrapper {
    width: 100%;
    padding: 10px;
  }
}
